<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 是否启用下划线与驼峰式命名规则的映射（如first_name => firstName） -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- 配置分页插件 -->
	<plugins>
		<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 5.0版本后不用配置，会自动识别 -->
			<!-- <property name="dialect" value="mysql" /> -->
		</plugin>
	</plugins>
</configuration>